*{
  background-color: rgb(255, 255, 255);
}
.barrasup{
  background-color: rgb(99, 99, 99);
  border-radius:5px;
  border: 5px solid #999;
  padding: 0px;
  margin: 2px;

}
.social {
    min-width: 8px;
    padding: 5px;
    display: flex;
    justify-content:right
  }
  
 .social a {
    text-decoration: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 25%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .social a:hover {
    transform: scale(1.2);
  }

.img{
  margin:10px auto;
  border-radius:5px;
  border: 5px solid #999;
  padding: 15px;
  width:auto;
  height: 300px;px;
  background-repeat:no-repeat;
  background-image:url(http://www.adigitaldreamer.com/gallery/albums/userpics/10001/normal_kb1.jpg);
  background-size: cover;
}
.img img{
  width:100%;
}

ul.titulos li{
  display: inline;
  padding-right: 1px;
}

.bio{
  margin: 10px;
  border: 5px solid #999;
  padding: 15px;
  border-radius: 10px;
}
.conocimientos{
  margin: 10px;
  border: 5px solid #999;
  padding: 15px;
  border-radius: 10px;
}

.Foto {
  border-radius: 50%;
}